<html>
<meta>
  <script src="assets/javascripts/highlight.pack.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/default.css">
  <link rel="stylesheet" href="assets/stylesheets/file.css">
  <script>hljs.initHighlightingOnLoad();</script>
</meta>
<body>
<pre>
<table class="file">
  <tr>
    <td class="calls"><pre>calls</pre></td>
    <td class="times"><pre>time</pre></td>
    <td class="linenumber"></td>
    <td class="code"></td>
  </tr>
  <% @lines.each_with_index do |line, idx| %>
    <tr>
      <td class="calls"><pre><code><%= line.calls %></code></pre></td>
      <td class="times"><pre><code><%= "%.1fms" % line.total_wall_time %></code></pre></td>
      <td class="linenumber"><pre><code><%= idx+1 %></code></pre></td>
      <td class="code"><pre><code class="ruby"><%= line.code.chomp %></code></pre></td>
    </tr>
  <% end %>
  </tr>
</table>
</pre>
created at <%= Time.now %>
</body>
</html>
